<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<div>
  <app-parent-and-child></app-parent-and-child>
  <app-brothers></app-brothers>
  <div class="container">
    <app-test-ng-content>
      <h3>这是投影进去的标题</h3>
      <p>这是投影进去的底部文字</p>
      <app-content-child-one (childFn)="fatherDoSomething($event)"></app-content-child-one>
    </app-test-ng-content>
  </div>

  <app-dynamic-component></app-dynamic-component>
  <app-test-view-child></app-test-view-child>
</div>
